# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\guaduation\machine learning\github\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
